<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Document</title>
      <meta name="description" content="HTML5 e CSS3">
      <meta name="author" content="Constantino Guijumba">
      <link rel="stylesheet" href="app.component.scss">
  </head>
  <body>
      <div class="principal">
          <header>Cabecalho</header>
          <nav>Menu</nav>
          <section>

            conteudo
          
          </section>
          <aside>Conteudo relacionado</aside>
          <footer>Rodape</footer>
      </div>
  </body>
</html>